<!--- Sidemenu -->
@model IEnumerable<TravelCRM.Models.MenuViewModel>


<header id="header" class="app-header navbar" role="menu">
    <!-- navbar header -->
    <div class="navbar-header bg-dark">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
            <i class="fa fa-btc"></i>
            <img src="~/Image/logo.png" alt="." class="hide" />

            <span class="hidden-folded m-l-xs">Travel CRM</span>
        </a>
        <!-- / brand -->
    </div>
    <!-- / navbar header -->
    <!-- navbar collapse -->
    <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
            <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
                <i class="fa fa-dedent fa-fw text"></i>
                <i class="fa fa-indent fa-fw text-active"></i>
            </a>

        </div>
        <!-- / buttons -->
        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
            <li class="dropdown pos-stc">

            </li>
            <li class="dropdown">

            </li>
        </ul>
    
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
             
                @Html.Partial("Notification");
               
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle clear">
                    <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                        <img src="~/images/a0.jpg" />
                       
                        <i class="on md b-white bottom"></i>
                    </span>
                    <span class="hidden-sm hidden-md">@User.Identity.Name</span> <b class="caret"></b>
                </a>
                <!-- dropdown -->
                <ul class="dropdown-menu animated fadeInRight w">

                    <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                        <div>
                            <p></p>
                        </div>
                        <div class="progress progress-xs m-b-none dker">
                            <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 50%"></div>
                        </div>
                    </li>
                    <li>
                        <a asp-controller="Employee" asp-area="Employee"
                           asp-action="GetUserProfile" asp-route-id="1">Profile</a>
                    </li>

                    <li>
                        <a asp-controller="Employee" asp-action="GetHelp" asp-area="Employee">
                            <span class="label bg-info pull-right">new</span>
                            Help
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a asp-controller="Account" asp-action="Logout" asp-area="Login">Logout</a>
                </ul>
                <!-- / dropdown -->
            </li>
        </ul>
        <!-- / navbar right -->
    </div>
    <!-- / navbar collapse -->
</header>
<!-- / header -->

<aside id="aside" class="app-aside app-aside-fixed hidden-xs bg-dark">
    <div class="aside-wrap">
        <div class="navi-wrap">
            <!-- user -->
            <!-- / user -->
            <!-- nav -->
            <nav ui-nav class="navi clearfix">
                <ul class="nav">

                    @foreach (MenuViewModel menu in Model)
                    {
                        if (menu.SubMenu != null)
                        {
                            <li>

                                @if (menu.IsAction)
                                {
                                    <a href="@Url.Action(menu.Action, menu.Controller)" class="auto"> @Html.Raw(menu.Title)</a>
                                }
                                else
                                {
                                    <a href="@Html.Raw(menu.Link)" class="auto"> @Html.Raw(menu.Title)</a>
                                }

                                <ul class="nav nav-sub dk">
                                    @foreach (MenuViewModel subMenu in menu.SubMenu)
                                    {
                                        if (subMenu.IsAction)
                                        {
                                            <li><a href="@Url.Action(subMenu.Action, subMenu.Controller)">@subMenu.Title</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Html.Raw(subMenu.Link)"> @Html.Raw(subMenu.Title)</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            if (menu.IsAction)
                            {
                                <li><a href="@Url.Action(menu.Action, menu.Controller)" class="auto"> @Html.Raw(menu.Title)</a></li>
                            }
                            else
                            {
                                <li><a href="@Html.Raw(menu.Link)" class="auto"> @Html.Raw(menu.Title)</a></li>
                            }
                        }

                    }
                </ul>

            </nav>
            <!-- nav -->
            <!-- / aside footer -->
        </div>
    </div>
</aside>



